/* Profile.css */
.modal-overlay {
  position: fixed; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  /* High z-index to ensure it's on top */
}
.modal-content {
  min-height: 140px;
  min-width: 140px;
  max-width: 290px;
  display: flex;

  background: #e0e0e0;
  padding: 20px;
  border-radius: 30px;
  box-shadow:  -20px 20px 60px #bebebe,
             20px -20px 60px #ffffff;
  z-index: 1;
}
.bg {
  background-color: hsl(0, 0%, 88%);
  height: 100%;
  width: 100%;
  position: absolute;
}

.user-card {
  padding: 45px;
  max-width: 800px;
  margin: auto;
  margin-top: 130px;
  margin-bottom: 60px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  -20px 20px 60px #bebebe,
             20px -20px 60px #ffffff;
}

.title-typography {
  font-size: 2.5em;
  font-weight: bold;
  color: #333; /* Dark text for better contrast */
}

.subtitle-typography {
  font-size: 0.6em;
  color: #656565a4; /* Slightly lighter text for subtitles */
  margin-bottom: 12px;
}

.info-typography {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  text-transform: none;
  color: #666; /* Even lighter text for informational text */
}

.plan-chip {
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 10px; /* Rounded corners for chips */
  background-color: #1976d2; /* MUI blue color for chips */
  color: white; /* White text for contrast */
}

.plan-chip:last-child {
  margin-right: 0;
}

.subbutton{
  position: absolute;
  text-transform: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 36px;
  box-shadow:  -20px 20px 60px #bebebe,
             20px -20px 60px #ffffff;
  
}

/* Additional colors for other elements can be added here */