.video-preview .thumbnail {
    transition: transform 0.50s ease, border 0.3s ease;
    width: 300px; /* Your desired width */
    height: auto; /* Your desired height */
    padding: 30px;
    border-radius: 40px; /* Adjust as needed */
}
.thumbnail {
    border-radius: 50%;
}